<html>
	<head>
		<title>Email Configuration Saved</title>
		<meta name="decorator" content="atl.admin" />
	</head>

	<body>
		<div class="aui-message success">
		    <p class="title">
		        <span class="aui-icon icon-success"></span>
		        <strong>Configuration saved</strong>
		    </p>
		    <p>The new settings are now active. No need to reload the plugin.</p>
		</div>
		<p>
			<form class="aui" name="testmailconfiguration.form" method="post" action="testmailconfiguration.action">
				<input class="button submit" type="submit" value="Test Configuration" id="comment-save-button" name="confirm">
			</form>
		</p>
		<p>
			<a href="editmailconfiguration.action">Edit configuration</a><br/>
		</p>
	</body>

</html>
