<html>
	<head>Email Configuration Saved</head>
	
	<body>
		<div class="thickPadded">
			<div class="steptitle">Mail to News: Email Configuration Saved</div>
			<br/>
			The new settings are now active, there is no need to reload the plugin.<br/>
			<br/>
			<a href="editmailconfiguration.action">Edit configuration</a><br/>
			<br/>
			<br/>
			<form name="testmailconfiguration.form" method="POST" action="testmailconfiguration.action">
				#tag( Submit "name='confirm'" "value='Test Configuration'" "theme='notable'" )
			</form>
		</div>	
	</body>
	
</html>
