<html>
	<head>EMail Configuration Tested</head>
	
	<body>
		<div class="thickPadded">
			<div class="steptitle">Mail to News: Email Configuration Tested</div>
			<br/>
			<b>Result:</b> ${configurationTestResult}<br/>
			<br/>
			<a href="editmailconfiguration.action">Edit configuration</a>
		</div>	
	</body>	
</html>
